/* style 1
----------------------------------------------------------- */
.mdmegamenu.md-custom {
    color: #333;
}

.mdmegamenu.md-custom h1,
.mdmegamenu.md-custom h2,
.mdmegamenu.md-custom h3,
.mdmegamenu.md-custom h4,
.mdmegamenu.md-custom h5,
.mdmegamenu.md-custom h6 {
    color: #333;
}
.mdmegamenu.md-custom h1 small,
.mdmegamenu.md-custom h2 small,
.mdmegamenu.md-custom h3 small,
.mdmegamenu.md-custom h4 small,
.mdmegamenu.md-custom h5 small,
.mdmegamenu.md-custom h6 small {
    color: #555;
}

/* horizontal */
.md-horizontal.md-custom {
	background: transparent;
	border-bottom: none;
}

.md-custom {
	font-family: FuturaBT-Book, Arial, Helvetica, sans-serif;
}

.md-custom .mm-item > a,
.md-custom .mm-item > a:link,
.md-custom .mm-item > a:visited {
  border-top: 3px solid;
  border-color: rgb(0,0,0);
  border-color: rgba(0,0,0,0);
	font-size: 13px;
  font-weight: normal;
	color: #000;
	text-transform: uppercase;
	padding: 0 22px 3px;
}

.md-custom .mm-item > a.with-arrow {
	padding-right: 29px;
}

.md-custom .mm-hover > a:hover {
	color:#444
}

.md-custom .mm-active > a,
.md-custom .mm-active > a:link,
.md-custom .mm-active > a:visited {
    color: #FFDE84;
}

.md-custom ul {
}

.md-custom li.mm-hover {
  background: #e3dcbf;
  color: #333;
}

.md-custom li.mm-hover > a,
.md-custom li.mm-hover > a:link,
.md-custom li.mm-hover > a:visited,
.md-custom ul.mm-container .mm-active > a,
.md-custom ul.mm-container .mm-active > a:link,
.md-custom ul.mm-container .mm-active > a:visited {
    background: #fff;
    border-color: #e3dcbf;
    color: #000;
}

.md-custom .mm-container {
	background: #fff;
  border-bottom: 3px solid #FFDE84;
	top: 60px;
}

.md-custom .mm-container a,
.md-custom .mm-container a:link,
.md-custom .mm-container a:visited {
	color: #59ADEC;
	border: none;
}

.md-custom .mm-container a:hover {
  color: #000;
}

.md-custom .mm-sub h3.mm-header {
  color: #333;
	font-size: 14px;
	text-transform: uppercase;
}
/* vertical style */
.md-vertical.md-custom {
	height: auto;
}
.md-vertical.md-custom .mm-container {
    border-top: 3px solid #FFDE84;
}
.md-vertical.md-custom ul.mm-container {
    border-top: none;
}
.md-vertical.md-custom ul.megamenu {
	background: #000;
	padding: 12px 10px 12px 0;
}

.md-vertical.md-custom ul.megamenu > li {
	padding-left: 10px;
}

.md-vertical-rtl.md-custom ul.megamenu > li {
	padding-left: 0;
	padding-right: 10px;
}

.md-vertical.md-custom .mm-item > a {
	line-height: 22px;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.md-vertical-rtl.md-custom .mm-item > a {
	padding-right: 10px;
	padding-left: 29px;
}

.md-vertical.md-custom li.mm-hover > a {
	background: #fff
}

/* menu item with description */
.md-custom .mm-item > a span.mm-desc {
	color: #666;
	font-size: 11px;
	line-height: 1.4em;
	margin-top: -10px;
	padding-bottom: 10px;
	text-transform: none;
}

.md-custom .mm-hover > a span.mm-desc {
	color: #ddd
}

/* fixed bottom */
.md-custom.mm-fixed-bottom {
    border-top: 3px solid #FFDE84;
    border-bottom: none;
}

.md-custom.mm-fixed-bottom .mm-item > a,
.md-custom.mm-fixed-bottom .mm-item > a:link,
.md-custom.mm-fixed-bottom .mm-item > a:visited {
    border-top: none;
    border-bottom: 3px solid;
    border-color: rgb(0,0,0);
    border-color: rgba(0,0,0,0);
    padding-bottom: 0px;
    padding-top: 3px;
}
.md-custom.mm-fixed-bottom .mm-item > a:hover {
    border-color: #FFDE84;
}

.md-custom.mm-fixed-bottom .mm-container {
    border-bottom: none;
    border-top: 3px solid #FFDE84;
}

.md-custom .mm-toggle {
    background-color: #000;
    height: 46px;
}

/* arrow */
.md-custom .mm-arrow {
    background: url(../images/mm-arrow.gif) no-repeat 0 0;
    width: 7px;
    height: 4px;
}

.md-custom .mm-hover .mm-arrow {
    background-position: 0 -4px;
}

.md-custom ul.mm-container li .mm-arrow,
.md-vertical.md-custom .mm-arrow {
    background-position: -15px 0;
    width: 4px;
    height: 7px;
}

.md-vertical-rtl.md-custom ul.mm-container li .mm-arrow,
.md-vertical-rtl.md-custom .mm-arrow {
    background-position: -23px 0;
}

.md-vertical.md-custom .mm-arrow {
    margin-top: -3px;
}

.md-custom ul.mm-container a:hover .mm-arrow,
.md-vertical.md-custom .mm-hover .mm-arrow{
    background-position: -19px 0
}

.md-vertical-rtl.md-custom ul.mm-container a:hover .mm-arrow,
.md-vertical-rtl.md-custom .mm-hover .mm-arrow{
    background-position: -27px 0
}

.md-custom.mm-fixed-bottom .mm-arrow {
    background-position: -7px 0;
    margin: 0;
}

.md-custom.mm-fixed-bottom .mm-hover .mm-arrow {
    background-position: -7px -4px;
}

.md-custom.mm-fixed-bottom ul.mm-container .mm-arrow {
    background-position: -15px 0;
}

.mdmegamenu ul.megamenu > li {
	background-color: #e3dcbf;
	/*display: inline-block;
	float: none;*/
	display: inline;
	float: left;
}

.mdmegamenu ul.megamenu > li:first-child {
	/*margin-left: 400px;*/
}

.md-custom .mm-item > a, 
.md-custom .mm-item > a:link, 
.md-custom .mm-item > a:visited {
  border: none;
  padding-bottom: 0;
}

.custom-toggle {
  background-color: #9f9e9a;
  float: left;
  height: 40px;
}