
/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
  color: #000;
  background: none;
}
body.two-sidebars,
body.sidebar-first,
body.sidebar-second,
body {
  width: 960px;
}
#sidebar-first,
#sidebar-second,
.navigation,
#toolbar,
#footer-wrapper,
.tabs,
.add-or-remove-shortcuts {
  display: none;
}
.one-sidebar #content,
.two-sidebars #content {
  width: 100%;
}
#triptych-wrapper {
  width: 960px;
  margin: 0;
  padding: 0;
  border: none;
}
#triptych-first, #triptych-middle, #triptych-last {
  width: 250px;
}

/* ---------- Node Pages ---------- */

#main {
  border: none;
  padding-top: 0;
}

#skip-link,
.navbar {
  display: none;
}

.block-md-megamenu {
  display: none;
}

#comments .title,
#comments form,
.comment_forbidden {
  display: none;
}

.social-icons,
.footer-links,
#bottom,
footer {
  display:none;
}

#notes {
  -webkit-print-color-adjust:exact;
}