html, body {
  height: 100%;
}

html {
  background: url(../images/bg.jpg) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  position: relative;
  background-color: transparent;
  font-family: FuturaBT-Book;
  font-size: 16px;
}

#main {
  border: 6px solid #f0e7c7;
  background-color: rgba(255,255,255,0.4); 
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

#main-home {
  padding-bottom: 0;
  margin-top: 0;
}

#wrap {
  min-height: 100%;
}

#bottom {
	overflow:hidden !important;
  padding-bottom:55px; /* this needs to be bigger than footer height*/
}

.footer {
  background-color: #fcb040;
  position: relative;
  margin-top: -35px; /* negative value of footer height */
  height: 35px;
  clear:both;
  padding: 10px;
} 

h1, h2, h3, h4, h5 {
  font-family: FuturaBT-Bold;
  color: #636466;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

sup {
  font-size: smaller;
}

.no-gutter {
  padding-left:0;
  padding-right:0;
}

/* -- Navbar ------------------------------------------------------------- */
body.navbar-is-fixed-top {
  padding-top: 78px !important;
}

.navbar-fixed-top {
  border-width: 0;
}

ul.primary {
  background-color: #fffdf4;
}

.navbar-default {
  background-color: rgba(0, 255, 0, 0.4);
  border-color: transparent;
}

.navbar-default.affix {
  background-color: rgba(227,220,189,0.75);
}

.navbar-default .navbar-toggle {
  border-color: #000;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  border-color: #000;
  background-color: #fffdf4;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-default .navbar-nav.primary > li > a, 
.navbar-default .navbar-nav.primary > li > a:hover, 
.navbar-default .navbar-nav.primary > li > a:focus {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #636466;
  font-family: FuturaBT-Bold;
  font-size: 18px;
}

.navbar-default .navbar-nav.primary > .active > a, 
.navbar-default .navbar-nav.primary > .active > a:hover, 
.navbar-default .navbar-nav.primary > .active > a:focus {
  background-color: transparent;
  color: #636466;
}

.navbar-default .navbar-nav.secondary > li > a {
  font-size: 12px;
  color: #333;
  padding-bottom: 4px;
  padding-top: 12px;
}

.navbar-default .navbar-nav.secondary > .active > a, 
.navbar-default .navbar-nav.secondary > .active > a:hover, 
.navbar-default .navbar-nav.secondary > .active > a:focus {
  background-color: transparent;
  color: #000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

/* -- New Nav --*/
#block-menu-menu-secondary-nav ul {
  list-style-type: none;
}

#block-menu-menu-secondary-nav li {
  display: inline-block;
  float: right;
}

#block-menu-menu-secondary-nav a {
  font-size: 14px;
  color: #333;
  background-color: transparent;
  padding-bottom: 4px;
  padding-top: 12px;
}

#block-menu-menu-secondary-nav li.open a,
#block-menu-menu-secondary-nav li.open a:hover,
#block-menu-menu-secondary-nav li.open a:focus {
  background-color: #e3dcbf;
}

#block-menu-menu-secondary-nav > .active > a, 
#block-menu-menu-secondary-nav > .active > a:hover, 
#block-menu-menu-secondary-nav > .active > a:focus {
  background-color: transparent;
  color: #000;
}

.main-nav-megamenu > .tb-megamenu {
  float: right;
}

.tb-megamenu.tb-megamenu-main-menu .collapse {
  display:block;
}

.tb-megamenu .btn-navbar {
  float: right;
  margin-top: 10px;
}

.tb-megamenu .btn {
  border-color: transparent;
}

.tb-megamenu .btn .fa-bars {
  font-size: 18px;
}

.tb-megamenu .mobile-only {
  display: none;
}

@media (max-width: 991px) {
	.tb-megamenu.tb-megamenu-main-menu .collapse {
	  display:none;
	}

  .main-nav-megamenu > .tb-megamenu {
    float: none;
  }
  .main-nav-megamenu > .tb-megamenu .nav > li > a {
    background: rgba(232, 228, 214, 1) none repeat scroll 0 0;
  }
  .tb-megamenu .mobile-only {
    display: inline;
  }
}

/* logo */
.navbar .container {
  position: relative;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 15px;
}


.logo img {
  width: 320px;
  height: 248px;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .logo img {
    width: 240px;
    height: auto;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .logo img {
    width: 160px;
    height: auto;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .logo img {
    width: 120px;
    height: auto;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 768px) {
  ul.primary {
    float: right;
    background-color: transparent;
  }
  
  ul.primary > li {
    background-color: transparent;
  }

  .navbar-nav > li {
    text-align: right;
  }
}

/* -- Offset Header Blocks ------------------------------------------------------------- */
.region-offset-header {
  min-height: 180px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .region-offset-header {
    margin-left: 22px;
  } 
}


/* -- Home page ------------------------------------------------------------- */
.home-page-highlight {
  margin-top: 18px;
}

.highlight-image {
  margin-bottom: 20px;
}

.highlight-image img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .highlight-image img {
    max-height: 394px;
  } 
}


.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 2px;
  padding-left: 2px;
}

.row.no-gutters > [class^="col-"]:first-child,
.row.no-gutters > [class*=" col-"]:first-child {
  padding-left: 0px;
  padding-right: 2px;
}

.row.no-gutters > [class^="col-"]:last-child,
.row.no-gutters > [class*=" col-"]:last-child {
  padding-left: 2px;
  padding-right: 0px;
}


/* -- Bottom Primary ------------------------------------------------------------- */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > div > [class^="col-"],
.row.no-gutters > div > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.footer-cols {
  margin-top: 30px;
}

.footer-cols h5 {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-cols hr {
  border-color: #fcb040 -moz-use-text-color -moz-use-text-color;
  border-width: 2px 0 0;
  border-top: 2px solid #fcb040;
  margin-bottom: 4px;
  margin-top: 4px;
}

.footer-cols ul {
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-cols a {
  font-size: 12px;
  line-height: 2;
  color: black;
}

/* -- Bottom Secondary ------------------------------------------------------------- */
.region-bottom-first > section {
  min-height: 220px;	
}

.footer-social-icons {
  margin-top: 26px;
  display: block-inline;
}

.footer-social-icons a,
.footer-social-icons span,
.footer-social-icons div {
  float: right;
  height: 42px;
  width: 42px;
  margin-right: 0;
  margin-left: 2px;
}

.footer-social-icons .follow-us {
  display: inline-block;
  width: auto;
  margin-right: 6px;
}

.social-icons {
  height: 60px;
}

.social-icons > div {
  border-top: 1px solid #333;
  padding-top: 20px;
  padding-bottom: 20px; 
}

.social-icons a,
.social-icons span {
  display: block;
  height: 42px;
  width: 42px;
}

a.twitter {
  background: url(../images/twitter.png) no-repeat;
  background-size: 42px 42px;
}
a.twitter-color {
  background: url(../images/twitter_color.png) no-repeat;
  background-size: 42px 42px;
}
a.pinterest {
  background: url(../images/pinterest.png) no-repeat;
  background-size: 42px 42px;
}
a.pinterest-color {
  background: url(../images/pinterest_color.png) no-repeat;
  background-size: 42px 42px;
}
a.gplus {
  background: url(../images/gplus.png) no-repeat;
  background-size: 42px 42px;
}
a.gplus-color {
  background: url(../images/gplus_color.png) no-repeat;
  background-size: 42px 42px;
}
a.facebook {
  background: url(../images/facebook.png) no-repeat;
  background-size: 42px 42px;
}
a.facebook-color {
  background: url(../images/facebook_color.png) no-repeat;
  background-size: 42px 42px;
}
a.youtube {
  background: url(../images/youtube.png) no-repeat;
  background-size: 42px 42px;
}
a.vimeo {
  background: url(../images/vimeo.png) no-repeat;
  background-size: 42px 42px;
}
a.email {
  background: url(../images/email.png) no-repeat;
  background-size: 42px 42px;
}
a.email-color {
  background: url(../images/email_color.png) no-repeat;
  background-size: 42px 42px;
}
a.mail {
  background: url(../images/mail.png) no-repeat;
  background-size: 42px 42px;
}
a.print {
  background: url(../images/print.png) no-repeat;
  background-size: 42px 42px;
}
a.print-color {
  background: url(../images/print_color.png) no-repeat;
  background-size: 42px 42px;
}
span.fb-like {
	background: url(../images/facebook.png) no-repeat;
	background-size: 42px 42px;
}
span.fb-like-color {
	background: url(../images/facebook_color.png) no-repeat;
	background-size: 42px 42px;
}

/* -- Footer ------------------------------------------------------------- */
.footer {
  border-top: none;
}

.legal-footer-links p {
  color: white;
  text-align: center;
}

/* -- Recipes Nav ------------------------------------------------------------- */
.tb-megamenu.tb-megamenu-menu-recipe .collapse {
  display: block;
}

/* -- Recipes View ------------------------------------------------------------- */
.recipe-list ul {
  list-style-type: none;
  margin-right: 0;
}

.recipe-thumbnail {
  background-color: rgba(248, 223, 169, 0.65);
  height: 230px;
  overflow: hidden;
  position: relative;
  margin-bottom: 26px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid rgba(142, 141, 136, 0.3);
}

.recipe-thumbnail-image img {
  display: block;
  width: 100% !important;
  height: auto !important;
  max-height: 260px;
}
.recipe-summary {
  padding: 0 16px;
}

.recipe-summary .recipe-title h3 {
  margin-bottom: 0;
}

.recipe-summary .recipe-title a {
  color: #636466;
  font-family: FuturaBT-MediumCondensed;
}

.recipe-summary .recipe-rating span {
  font-size: small;
  padding-left: 10px;
}

.recipe-thumbnail .social-icons-thumbnail {
  position: absolute;
  bottom: 10px;
  left: 16px;
}

.recipe-thumbnail .social-icons-thumbnail-pinterest {
  float:left;
  padding-top: 3px;
  margin-right: 4px;
}

.recipe-thumbnail .social-icons-thumbnail-facebook {
  float:left;
}

.recipe-thumbnail .recipe-body {
  margin-top: 10px;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
}

.social-icons-thumbnail-facebook .fb-like {
  overflow: hidden !important;
}

/* -- Recipe ------------------------------------------------------------- */
.shopping-list {
  height: 100%;
}

.shopping-list-title {
  font-size: 30px;
  color: #636466;
  font-family: FuturaBT-Bold;
}
.notes-orig {
  background: url(../images/notes.png);
  height: 95%;
}

.notes {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

.notes > div {
    background-color: transparent;
    border-bottom: 1px solid #626262;
    height: 60px;
    margin: 3px;
    width: 100%;
}

.recipe-support {
  /* background: url(../images/support-bg) no-repeat; */
  background-color: #f6e0af;
  /* background-size: 100% 100%; */
}

.prep-time,
.total-time,
.servings {
  padding: 10px 0;
}

.prep-time,
.total-time,
.servings {
  font-size: 1.2em;
  line-height: 1em;
}

.node-type-recipe .recipe-body {
  margin-top: 20px;
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
  .node-type-recipe .recipe-card {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .node-type-recipe .recipe-card {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media screen and (min-width: 768px) {
  .node-type-recipe .recipe-card {
    background: rgba(0, 0, 0, 0) url("../images/recipe_card.png") no-repeat scroll 0 0;
    background-size: 100% auto;
    height: 437px;
  }
}

.node-type-recipe .recipe-title,
.node-type-recipe .recipe-ingredients,
.node-type-recipe .recipe-details {
  color: #136060;
}

.node-type-recipe .recipe-title {
  font-family: FuturaBT-MediumCondensed;
  font-size: 30px;
  padding: 20px 0 0 30px;
}

.node-type-recipe .recipe-title span {
  float: right;
  font-size: 18px;
  padding-right: 30px;
}

.node-type-recipe .recipe-ingredients {
  padding-left: 30px;
  padding-bottom: 4px;
}

.node-type-recipe .recipe-details {
  font-size: 15px;
  line-height: 1.5em;
  padding-left: 30px;
  padding-right: 15px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 991px) {
  .node-type-recipe .recipe-details {
    font-size: 14px;
    line-height: 1.2em;
  }
}

/* -- Offset Header Blocks ------------------------------------------------------------- */
.recipe-categories-offset-header > .view-content,
.product-categories-offset-header > .view-content {
  display: none;
}

/* -- Turkey Products View ------------------------------------------------------------- */
.turkey-products-list ul {
  list-style-type: none;
  margin-right: 0;
}

.turkey-products-thumbnail {
  background-image: url(../images/product-bg.jpg);
  background-repeat: repeat;
  height: 520px;
  overflow: hidden;
  position: relative;
  margin-bottom: 26px;
}

.turkey-products-thumbnail-image img {
  display: block;
  width: 100% !important;
  height: auto !important;
  max-height: 312px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .turkey-products-thumbnail {
    height: auto;
    padding-bottom: 40px;
  }

  .turkey-products-thumbnail-image img {
    max-height: none;
  }
}

/* Small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .turkey-products-thumbnail {
    height: 460px;
  }
}

.turkey-products-summary {
  padding: 0 16px;
  position: relative;
}

.turkey-products-summary .turkey-products-title a {
  color: #636466;
  font-family: FuturaBT-MediumCondensed;
}

.turkey-products-thumbnail .turkey-products-body {
  margin-top: 20px;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
}

.turkey-products-thumbnail .turkey-products-rating {
  position: absolute;
  bottom: 10px;
  left: 16px;
}

.turkey-products-thumbnail .turkey-products-rating span {
  font-size: small;
  padding-left: 10px;
}

/* -- New Products View ------------------------------------------------------------- */
.new-products-list ul {
  list-style-type: none;
  margin-right: 0;
}

.new-products-thumbnail {
  background-image: url(../images/product-bg);
  position: relative;
  margin-bottom: 26px;
  min-height: 260px;
}

.new-products-thumbnail img {
  height: auto !important;
  max-height: 260px;
  float: left;
  margin-right: 30px;
}

.new-products-thumbnail .new-products-summary {
  padding: 20px;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .new-products-thumbnail img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px
  }

  .new-products-thumbnail .new-products-summary {
    padding-left: 10px;
    padding-right: 10px;
  } 
}

.new-products-summary h3 {
  margin-top: 0;
}

.new-products-summary a {
  color: #636466;
  font-family: FuturaBT-Bold;
}

.new-products-rating {
  padding-top: 20px;
}

.new-products-rating span {
  font-size: small;
  padding-left: 10px;
}

/* -- Turkey Product ------------------------------------------------------------- */
.product-description {
  padding: 20px 40px;
}

.product-support {
  background: url(../images/support-bg) no-repeat;
  background-size: 100% 100%;
}

.performance-facts {
  font-size: 1.2rem;
  border: 1px solid black;
  margin: 20px 20px 20px 0;
  float: left;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff2be;
}
.performance-facts table {
  border-collapse: collapse;
}

.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}

.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
}
.performance-facts__header p {
  margin: 0;
}

.performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
  width: 100%;
}
.performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th, .performance-facts__table thead tr td, .performance-facts__table--small thead tr td, .performance-facts__table--grid thead tr td {
  border: 0;
}
.performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th, .performance-facts__table td, .performance-facts__table--small td, .performance-facts__table--grid td {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  white-space: nowrap;
}
.performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
  text-align: right;
}
.performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
  width: 1rem;
  border-top: 0;
}
.performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th, .performance-facts__table .thick-row td, .performance-facts__table--small .thick-row td, .performance-facts__table--grid .thick-row td {
  border-top-width: 5px;
}

.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--grid {
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--grid td:last-child {
  text-align: left;
}
.performance-facts__table--grid td:last-child::before {
  content: "•";
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}

.thick-end {
  border-bottom: 10px solid black;
}

.thin-end {
  border-bottom: 1px solid black;
}

/* -- Contact Us ------------------------------------------------------------- */
#contact-us-panel {
  padding-top: 40px;
}

#contact-us-form .pane-title {
  padding:20px;
  background-color: #f0e7c7;
  font-size: 28px;
  font-family: FuturaBT-Book;  
}

#contact-us-form .pane-content {
  padding:20px;
  background-color: #f0e7c7;
}

#contact-us-form .form-item {
  margin-bottom: 20px;
}

#contact-us-form .form-required {
  color: red;
}

#contact-us-form .btn-primary {
  background-color: black;
  border-color: black;
}

#contact-us-info,
#contact-us-map,
#contact-us-footer {
  padding-left: 30px;
}

#contact-us-form,
#contact-us-map,
#contact-us-footer {
  padding-right: 30px;
}

#contact-us-map {
  padding-top: 30px;
}

#contact-us-info > .pane-content > .row {
  padding-bottom: 30px;
}

/* -- Family Matter ------------------------------------------------------------- */
.accordion-support-view .panel,
.meshbrains-views-accordion-view .panel {
  background-color: transparent;  
  box-shadow: none;
  border-radius: 0;
  border: none;
}

.accordion-support-view .panel-default,
.meshbrains-views-accordion-view .panel-default {
  border-bottom: 1px solid #888;
}

.accordion-support-view .panel-default:last-child,
.meshbrains-views-accordion-view .panel-default:last-child {
    border-bottom: none;
}

.accordion-support-view .panel-default > .panel-heading,
.meshbrains-views-accordion-view .panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
}

.accordion-support-view .panel-default .panel-title {
  text-align: right;
}

.accordion-support-view .panel-default > .panel-heading .accordion-toggle:before,
.meshbrains-views-accordion-view .panel-default > .panel-heading .title:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114\00a0";
  text-align: right;
  color: #fcb040;
}

.accordion-support-view .panel-default > .panel-heading .accordion-toggle.collapsed:before,
.meshbrains-views-accordion-view .panel-default > .panel-heading a.collapsed .title:before {
  content: "\e080\00a0";
}

.accordion-support-view .panel-default > .panel-heading + .panel-collapse .panel-body,
.meshbrains-views-accordion-view .panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: transparent;
}

.accordion-support-view .panel-default .panel-body a,
.meshbrains-views-accordion-view .panel-default .panel-body a {
  color: #636466;
}

.accordion-support-view .panel-default .panel-body h2,
.meshbrains-views-accordion-view .panel-default .panel-body h2 {
  margin-top: 0;
}

.accordion-support-view .panel-group .panel,
.meshbrains-views-accordion-view .panel-group .panel {
  padding-bottom: 25px;
  margin-top: 25px;
}

.accordion-support-view .table-striped > tbody > tr:nth-child(2n+1) > td,
.accordion-support-view .table-striped > tbody > tr:nth-child(2n+1) > th,
.meshbrains-views-accordion-view .table-striped > tbody > tr:nth-child(2n+1) > td,
.meshbrains-views-accordion-view .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: transparent;
}

/* -- About Us ------------------------------------------------------------- */
.meshbrains-views-accordion-view .panel-default .panel-title .title {
  padding: 40px 0;
}

.meshbrains-views-accordion-view .icon-image {
  float: right;
  visibility: hidden;
}

.meshbrains-views-accordion-view a.collapsed .icon-image {
  visibility: visible;
}

.meshbrains-views-accordion-view .views-field-field-image {
  margin-bottom: 20px;
}

.meshbrains-views-accordion-view .views-field-field-image img {
  display: block;
  height: auto;
  max-width: 100%;
}

.meshbrains-views-accordion-view .icon-image-full {
  float: right;
}


/* -- Videos View ------------------------------------------------------------- */
.videos-list ul {
  list-style-type: none;
  margin-right: 0;
}

.videos-list img {
  width: 100%;
}

.videos-list .views-field-title a {
  color: #333;
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .node-video .field-type-video-embed-field {
    margin-left: 28px;
  }
  
  .node-video .field-name-body {
    text-align: center;
    font-size: 22px;
    font-style: italic;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .node-video .field-type-video-embed-field {
    margin-left: 22px;
  }
  
  .node-video .field-name-body {
    text-align: right;
    font-size: 24px;
    font-style: italic;
  }
}

/* -- When Turkey is the Family Matter ------------------------------------------------------------- */
.page-when-turkey-is-the-family-matter #main {
  border: none;
  background-color: transparent; 
}

/* -- One Secluded Valley ------------------------------------------------------------- */
.page-one-secluded-valley #main {
  border: none;
  background-color: transparent; 
}

/* -- Gift Certificates ------------------------------------------------------------- */
.page-node-53 #main {
  border: none;
  background-color: transparent; 
}

#product-image {
  height: 340px;
  width: 740px;
  position: relative;
}

#product-title {
	display: none;
/*  position: absolute;
  top: 160px;
  left: 580px;
*/
}

#product-recipient {
  position: absolute;
  top: 80px;
  left: 306px;
}

#product-compliments-of {
  position: absolute;
  top: 254px;
  left: 64px;
}

#product-expires {
  position: absolute;
  top: 254px;
  left: 570px;
}

.product-min-qty {
  padding: 0 40px;
  font-style: italic;
}

@-webkit-keyframes yellow-fade {   
   0% {background: yellow;}
   100% {background: none;}
}

@keyframes yellow-fade {
   0% {background: yellow;}
   100% {background: none;}
}

.highlight {
   -webkit-animation: yellow-fade 2s ease-in 1;
   animation: yellow-fade 2s ease-in 1;
}

.node-gift-certificate-by-weight #product-image {
  background-image: url('../images/giftcertificate_by_weight.png');
  background-repeat: no-repeat;  
}

.node-gift-certificate-by-amount #product-image {
  background-image: url('../images/giftcertificate_by_amount.png');
  background-repeat: no-repeat;  
}

/* price table */
.field-name-field-price-table {
	padding: 0 40px;
}

.field-name-field-price-table .table-striped > tbody > tr > td, 
.field-name-field-price-table .table-striped > tbody > tr > th {
  background-color: rgba(240, 231, 199, 0.7); /*#f0e7c7;*/
  border-top: 1px solid rgba(240, 231, 199, 1);
}

/* -- Article ------------------------------------------------------------- */
.banner {
  height: 97px;
  background: url('../images/inside-the-kitchen-header.png') repeat-x;
  margin: 12px -30px 40px 0;
}

.article-social-icons {
  height: 68px;
}

.article-social-icons a, .article-social-icons span {
  display: inline-block;
  float: right;
  height: 42px;
  width: 42px;
  margin-top: 12px;
  margin-right: 10px;
}

.article-author img {
  margin: 0 10px 6px 0;
}

.article-author div {
  display: inline;
}

.article-author p {
  display: inline;
  text-transform: uppercase;
  font-family: FuturaBT-Book;
}

.article-body {
  padding-top: 20px;
  line-height: 2em;
}

.article-thumbnail-image img {
  display: block;
  height: auto;
  max-width: 100%;
}

#block-menu-menu-article-categories h3,
#block-views-article-categories-block h3 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

#block-menu-menu-article-categories .nav > li > a,
#block-views-article-categories-block .field-content > a {
  padding: 2px 0px;
  color: black;
}

#block-menu-menu-article-categories .nav > li > a.active,
#block-views-article-categories-block div.current a {
  color: #fe7a04;
}

#block-views-articles-featured-block,
#block-views-articles-featured-block-1,
#block-views-articles-related-block-1 {
  margin-top: 40px;
  border-top: 1px solid black;
  padding-top: 10px;
}

#block-views-articles-featured-block a,
#block-views-articles-featured-block-1 a,
#block-views-articles-related-block-1 a {
  color: black;  
}

.category-main-nav {
  display: none;
}

.page-cooking-journal .category-main-nav {
  display: table;
}

.category-main {
  padding-bottom: 4px;
}

.category-left {
  padding-right: 1px;
  padding-bottom: 4px;
}

.category-right {
  padding-left: 1px;
  padding-bottom: 4px;
}

@media (max-width: 767px) {
  .category-left {
    padding-right: 15px;
  }
  
  .category-right {
    padding-left: 15px;
  }
}

@media (max-width: 1199px) {
  .banner {
    margin-right: 0;
  }
}

/* -- Articles View ------------------------------------------------------------- */

.view-articles .article-title h2 a {
  color: #636466;
}

.view-articles .article-body a {
  color: black;
}

.view-articles .article-body p {
  line-height: 2em;
}

.view-articles .article-summary-social-icons {
  height: 68px;
}

.view-articles .article-summary-social-icons a, .view-articles .article-summary-social-icons span {
  display: inline-block;
  height: 42px;
  width: 42px;
  margin-top: 12px;
  margin-right: 10px;
}

.view-articles .views-field-body {
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
}

.view-articles .views-row-last .views-field-body {
  border-bottom: none;
}

.view-article-categories .views-field {
  padding: 2px 0;
}

/* -- Turkey Calculator Node ------------------------------------------------------------- */

.turkey-calculator-banner {
  margin-left: 15px;
  padding-left: 0;
  padding-right: 0;
}

.turkey-calculator {
  margin-bottom: 40px;
}

.turkey-calculator:not(:first-child) {
  border-top: 1px solid #f0e7c7;
  padding-top: 20px;
}

.calculator-form,
.calculator-results {
  width:100%; 
  display:inline-block;
  vertical-align: middle;
}

.calculator-results {
  background-color: rgba(248, 223, 169, 0.65);
}

.size-field {
  background: none !important;
  padding: 0 !important;
  width: 49%;
  display: inline-block;
}

.size-field input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow:none;
  font-size:20px !important;
  font-family: arial, sans-serif;
  height:50px;
  max-width:100px;
  min-width:80px;
  text-align:center;
}

label.size-label {
  font-size:20px !important;
}

.results,
.small-results {
  text-align: center;
  color: #000;
  font-size: 32px;
  font-weight: normal;
  line-height: 48px;
}

.small-results {
  font-size: 24px;
  line-height: 36px;
}

.results-units {
  text-align: center;
  color: #000;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.calculator-form input[type=text]::selection {background: #EDEADD}
.calculator-form input[type=text]::-moz-selection {background: #EDEADD}
label.leftovers-label {font-size: 20px !important;float: left;margin: 0px 10px 0 30px;}
leftovers-form li.leftovers-field { background: none}

.switch-button-label {
    float: left;
    font-size: 20px;
    cursor: pointer;
}

.switch-button-label.off {
    color: #adadad;
}

.switch-button-label.on {
    color: #000;
}

.switch-button-background {
    float: left;
    position: relative;

    background: rgba(248, 223, 169, 0.65);
    border: 1px solid #aaa;

    margin: 1px 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    cursor: pointer;
}

.switch-button-button {
    position: absolute;

    left: -1px;
    top : -1px;

    background: #FAFAFA;
    border: 1px solid #aaa;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* -- Cart ------------------------------------------------------------- */
#edit-continue-shopping {
  color: #000;
  background-color: #fff;
  border-color: #ccc;
  float: left;
}

.view-commerce-cart-form form > div,
.view-commerce-cart-summary .view-content {
  overflow-x: auto;
  width: auto;
}

.view-commerce-cart-summary .view-footer table {
  table-layout: fixed;
}

.view-commerce-cart-form .form-actions #edit-submit {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}

.view-commerce-cart-form .form-actions #edit-checkout {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
}

@media (max-width: 767px) {
  .view-commerce-cart-form form > div,
  .view-commerce-cart-summary .view-content {
    width: calc(100vw - 86px);
  }

  .view-commerce-cart-form .form-actions .btn {
    display: block;
    width: 100%;
  }

	.field-name-field-price-table,
	.product-min-qty {
		padding: 0;
	}
		
	.commerce-order-handler-area-order-total .commerce-price-formatted-components {
	  width: auto;
	}	
	
  .view-commerce-cart-form table,
  .view-commerce-cart-summary {
    font-size: small;
  }
  
  .view-commerce-cart-form .delete-line-item {
    padding: 2px 4px;
    font-size: small;
  }
}

/* -- Checkout ------------------------------------------------------------- */
.delete-line-item {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}

.checkout-buttons > .panel-body {
  text-align: right;
}

.commerce-credit-card-start .form-item, .commerce-credit-card-expiration .form-item {
  display: inline-block;
  width: 100px;
}

table.checkout-review .pane-data-full {
  background-color: white;
}

table.commerce-price-formatted-components > tbody > tr:first-child td:first-child {
  width: 75%;
}

/* -- Retailer Support ------------------------------------------------------------- */
.thumbnail {
  background-color: rgba(255,255,255,0.5);
  text-align:center;
}

/* -- Widgets ------------------------------------------------------------- */
form.fivestar-widget {
  display: inline-block;
}

/* -- Pagination ------------------------------------------------------------- */
.pagination {
  border-radius: 0;
}

.pagination > li > a,
.pagination > li > span {
  border: 1px solid #9f9e9a;
  color: #9f9e9a;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #9f9e9a;
  border-color: #9f9e9a;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* -- Responsive text ------------------------------------------------------------- */
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}