@media screen and (min-width: 992px) {
  .node-article .col-md-4.pull-right .field-name-field-social-sharing {
    float: right;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.view-articles.view-display-id-page_1 .views-field-body {
  border-bottom: none;
  padding-bottom: 0;
}
.view-articles.view-display-id-page_1 .views-row {
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
}

.clear {
  clear: both;
}

.print-only {
  display: none;
}

.commerce-price-formatted-components {
  width: 33%;
  margin-left: auto;
}

.page-checkout-complete .view-commerce-cart-summary .view-content{
  overflow: visible;
  width: 100%;
}

.page-checkout-complete .order-number {
  float: right;
  padding-right: 30px;
}

.page-checkout-complete .logo {
  float: left;
}

.page-checkout-complete .complete-order {
 margin-top:  30px;
}

.page-checkout-complete .center {
  margin-top:  30px;
  text-align: center;
}

.page-checkout-complete a.print-btn {
  display: block;
  text-decoration: none;
  width: 296px;
  background: #BA0404;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  min-height: 41px;
  border: none;
  line-height: 41px;
  overflow: hidden;
  font-weight: bold;
  -webkit-transition: background 0.05s ease-in;
  -moz-transition: background 0.05s ease-in;
  -o-transition: background 0.05s ease-in;
  transition: background 0.05s ease-in;
}

.center {
  text-align: center;
}

.answer-wrap{
  padding: 20px 30px;
  background: #FCB040;
  color: #FDFAFF;
  border-radius: 20px;
}

.category .title {
  font-weight: bold;
  color: #000000;
}

.category ul {
  padding: 0;
}

.category ul li {
  margin: 15px 0;
  list-style-type: none;
}

.red-text {
  color: #BA0404;
}

.category ul li span::before {
  content: "+ ";
  font-weight: bold;
  font-size: 18px;
}

.category ul li.active span::before {
  content: "− ";

}

.category ul li .question{
  cursor: pointer;
}

.category li .answer::before {
  content: " ";
  border-top: 20px solid transparent;
  border-left: 20px solid #FCB040;
  position: relative;
  top: 20px;
}

.category li .answer {
  margin: 0 0 0 6px;
}

.faq-section {
  border-top: 5px solid transparent;
  border-bottom: 7px solid transparent;
  padding: 40px 0 40px 110px;
  background-image: url(../images/faq-1.png), url(../images/faq-2.png), url(../images/faq-3.png);
  background-repeat: no-repeat, repeat-y, no-repeat;
  background-position: top -5px left, top left, bottom -7px left;
  background-clip: border-box, padding-box, border-box;
}

.node-type-norbest-faq .banner,.buy-gift-certificates .banner {
  margin: 0 -15px;
  height: 92px;
}


.node-type-norbest-faq .title-image  img, .buy-gift-certificates .title-image  img{
  margin: 0 auto;
  padding-top: 20px;
}

.gift-cert-text {
  margin: 40px 0 0 0;
  text-align: center;
}

.add-to-cart-form-suffix {
  font-size: 12px;
  margin: 0 auto;
  padding: 20px 10px;
}

.node-type-norbest-faq .region-content{
  width: 80%;
  margin: 0 auto;
}

.page-checkout-complete .region-offset-header {
  min-height: 80px;
  margin-bottom: 20px;
}

@media print {
  html body.admin-menu {
    margin-top: 0 !important;
  }
  #main {
    margin-top: 0;
    margin-bottom: 0;
  }
  .no-print, .no-print *
  {
    display: none;
    width: 0px;
    height: 0px;
  }
  .print-only {
    display: block;
  }
  .logo.print-only {
    margin-right: 2cm;
    margin-bottom: 2cm;
  }
  .view-content {
    visibility: visible;
  }
}

@media (max-width: 991px) {
  .certificates-background {
    width: 0px!important;
    display: none;
  }
  .cert-content{
    width: 100% !important;
  }

}

@media (max-width: 480px) {
  .faq-section {
    background: none;
    padding-left: 0;
  }
}