.tb-megamenu-menu-recipe,
.tb-megamenu-menu-products {
  margin-top: 20px;
  margin-bottom: 30px;
}

.tb-megamenu.tb-megamenu-menu-recipe .collapse,
.tb-megamenu.tb-megamenu-menu-products .collapse {
  display: block;
}

.tb-megamenu-menu-recipe .nav > li > a,
.tb-megamenu-menu-products .nav > li > a {
  font-family: FuturaBT-Book;
  text-transform: uppercase;
  font-size: smaller;
  background-color: #e8e4d6;
  color: black;
  background-image: url("../images/arrow-down-fill.png");
  background-repeat: no-repeat;
  padding-left: 50px;
}

.tb-megamenu-menu-recipe .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu-menu-products .nav li.dropdown.active > .dropdown-toggle {
  background-color: #e8e4d6;
  color: black;
  background-image: url("../images/arrow-down-fill.png");
  background-repeat: no-repeat;
  padding-left: 50px;
  width: 336px;
  text-align: center;
}

.tb-megamenu-menu-recipe .nav > li.dropdown.open.active > a:hover,
.tb-megamenu-menu-recipe .nav > li.dropdown.open.active > a:focus,
.tb-megamenu-menu-products .nav > li.dropdown.open.active > a:hover,
.tb-megamenu-menu-products .nav > li.dropdown.open.active > a:focus {
  background-color: #e8e4d6;
}

.tb-megamenu-menu-recipe .nav li.dropdown.open > .dropdown-toggle .caret, 
.tb-megamenu-menu-recipe .nav li.dropdown.active > .dropdown-toggle .caret, 
.tb-megamenu-menu-recipe .nav li.dropdown.open.active > .dropdown-toggle .caret,
.tb-megamenu-menu-products .nav li.dropdown.open > .dropdown-toggle .caret, 
.tb-megamenu-menu-products .nav li.dropdown.active > .dropdown-toggle .caret, 
.tb-megamenu-menu-products .nav li.dropdown.open.active > .dropdown-toggle .caret {
  display: none;
}

.tb-megamenu-menu-recipe .nav li.dropdown > .dropdown-toggle .caret, 
.tb-megamenu-menu-products .nav li.dropdown > .dropdown-toggle .caret {
  display: none;
}