.tb-megamenu .btn {
  background-image: none;
}

.tb-megamenu .btn-navbar {
  background-color: #e8e4d6;
  color: black;
  text-shadow: none;
}

.tb-megamenu .btn-navbar:hover,
.tb-megamenu .btn-navbar:focus,
.tb-megamenu .btn-navbar:active,
.tb-megamenu .btn-navbar.active,
.tb-megamenu .btn-navbar.disabled,
.tb-megamenu .btn-navbar[disabled] {
  color: #636466;
  background-color: #e8e4d6;
  *background-color: #e8e4d6;
}

.tb-megamenu .nav-collapse .nav > li > a,
.tb-megamenu .nav-collapse .dropdown-menu a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
  
.tb-megamenu .nav-collapse .nav > li > a:hover,
.tb-megamenu .nav-collapse .nav > li > a:focus {
  color: black;
}
    
  
.tb-megamenu .nav-collapse .nav li a {
  border-top-color: transparent;
  color: #636466;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}