.tb-megamenu {
  background-color: transparent;
  background-image: none;
  filter: none;
}
.tb-megamenu .nav > li {
}

.tb-megamenu .nav > li > a {
  padding: 10px 10px;
  background: inherit;
  border-right: none;
  color: #636466;
  font-family: FuturaBT-Bold;
  font-weight: normal;
}
.tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > li > a:hover {
  background-color: #e3dcbf;
  color: black;
}
.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus {
  background-color: #e3dcbf;
  color: black;
}
.tb-megamenu .nav-collapse .nav > li.active > a:hover, 
.tb-megamenu .nav-collapse .nav > li.active > a:focus {
  background-color: inherit;
  color: black;
}
.tb-megamenu .row-fluid + .row-fluid {
  border-color: #333;
}
.tb-megamenu .dropdown .caret {
  margin-left: 5px;
}
.tb-megamenu .dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.tb-megamenu .dropdown-menu li > a {
  border-top: 1px solid #444;
  padding: 5px 20px;
  text-shadow: none;
}
.tb-megamenu .dropdown-menu li:first-child > a {
  border-top: 0;
}
.tb-megamenu .navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.tb-megamenu .navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.tb-megamenu .dropdown-menu .disabled > a,
.tb-megamenu .dropdown-menu .disabled > a:hover {
  color: #999;
}
.tb-megamenu .dropdown-menu .disabled > a:hover {
  background-color: transparent;
}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  background-color: #666;
  color: #aaa;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle {
  background-color: inherit;
  color: #636466;
}
.tb-megamenu .nav > li.dropdown.open.active > a:hover,
.tb-megamenu .nav > li.dropdown.open.active > a:focus {
  background-color: #e8e4d6;
  color: black;
}
.tb-megamenu .dropdown-menu {
  background-color: #e8e4d6;
  border: none;
}
.tb-megamenu .dropdown-menu li > a {
  color: black;
  border-top: none;
}
.tb-megamenu .dropdown-menu li > a:hover, 
.tb-megamenu .dropdown-menu li > a:focus, 
.tb-megamenu .dropdown-submenu:hover > a {
  background-color: #e8e4d6;
  color: white;
}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #e8e4d6;
  color: black;
}
.tb-megamenu .mega-nav .mega-group > .mega-group-title, 
.tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title, 
.tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  color: #ddd;
}
.tb-megamenu .tb-block {
  background: transparent;
  color: inherit;
}
.tb-megamenu .tb-block .block-inner {
  padding: 0;
}
.tb-megamenu .tb-block .block-title {
  background: inherit;
  color: black;
}
.tb-megamenu .block-ct {
  background: inherit;
  color: inherit;
  padding: 0;
  *zoom: 1;
}
.tb-megamenu .block-ct:before,
.tb-megamenu .block-ct:after {
  display: table;
  content: "";
  line-height: 0;
}
.tb-megamenu .block-ct:after {
  clear: both;
}
.tb-megamenu .tb-block ul.unstyled,
.tb-megamenu .tb-block ol.unstyled,
.tb-megamenu .tb-block ul.nav,
.tb-megamenu .tb-block ol.nav {
  margin-left: 0;
}
.tb-megamenu .block_menu .nav {
  margin-bottom: 20px;
}
.tb-megamenu .block_menu .nav > li {
  border-top: 1px solid #444;
}
.tb-megamenu .block_menu .nav > li > a {
  padding: 5px;
}
.tb-megamenu .block_menu .nav > li:first-child {
  border-top: 0;
}
.tb-megamenu .block_menu .nav > li:first-child > a {
  padding-top: 0;
  border-top: 0;
}

@media (max-width: 991px) {
.tb-megamenu {
  background-image: none;
  background-color: inherit;
}
	
.tb-megamenu .nav-collapse {
  background-color: inherit;
}
.tb-megamenu .nav-collapse .dropdown-menu {
  background-color: #333;
}
.tb-megamenu .nav-collapse .nav > li > a, 
.tb-megamenu .nav-collapse .dropdown-menu a {
  border-bottom-color: #444;
  border-top-color: #444;
  color: black;
}
.tb-megamenu .nav > li > a {
  color: #eee;
  border-right: none;
}
}

@media (max-width: 767px) {
  .tb-megamenu .nav-collapse .nav li a {
	 border-top-color: #444;
  }
  .tb-megamenu .nav-collapse .nav > li > a, 
  .tb-megamenu .nav-collapse .dropdown-menu a {
    border-bottom: none;
    border-top-color: #444;
    color: #eee;
  }
  .tb-megamenu .row-fluid + .row-fluid {
	border-top-color: #444;
  }
}

.block-view-demo .views-field-field-image img {
  border: 1px solid #333;
}

.block-view-demo .item-list ul li {
  border-bottom: 1px solid #333;
}

.block-view-demo .views-field-title a:hover,
.block-view-demo .views-field-title a:focus {
  color: #7bb9e0;
}

.tb-megamenu .dropdown-menu.nav-child {
  background-color: #e8e4d6;
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: black;
    border-top-color: black;
}
.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: black;
    border-top-color: black;
    margin-top: black;
}

/* move down carets for tabs */
.tb-megamenu .nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}
.tb-megamenu .nav .active .dropdown-toggle .caret {
  border-top-color: black;
  border-bottom-color: black;
}
.tb-megamenu .nav-tabs .active .dropdown-toggle .caret {
  border-top-color: black;
  border-bottom-color: black;
}
.tb-megamenu .nav li.dropdown.open .caret,
.tb-megamenu .nav li.dropdown.open.active .caret,
.tb-megamenu .nav li.dropdown.open a:hover .caret,
.tb-megamenu .nav li.dropdown.open a:focus .caret {
  border-top-color: black;
  border-bottom-color: black;
  opacity: 1;
  filter: alpha(opacity=100);
}

.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover {
	color: black;
	background-color: transparent;
	background-image: none;
	filter: none;
}
.tb-megamenu .dropdown-menu li > a:hover,
.tb-megamenu .dropdown-menu li > a:focus,
.tb-megamenu .dropdown-submenu:hover > a {
  background-color: inherit;  
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover {
  color: black;
  font-weight: bold;
  background-color: inherit;
}

/* ---- override default.css ----------- */
@media (max-width: 991px) {
	.tb-megamenu .btn-navbar {
	  display: block;
	}
		
	.tb-megamenu .nav-collapse, .tb-megamenu .nav-collapse.collapse {
	  z-index: 999;
	  overflow: hidden;
	  height: 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.tb-megamenu .row {
    margin-left: -40px;
    *zoom: 1;
  }
}