/* Static View-only Star Version */
.fivestar-meshbrains_stars div.fivestar-widget-static .star {
  width: 16px;
  height: 14px;
  background: url(star.png) no-repeat 0 0px;
}

.fivestar-meshbrains_stars div.fivestar-widget-static .star span.on {
  background: url(star.png) no-repeat 0 -28px;
}

.fivestar-meshbrains_stars div.fivestar-widget-static .star span.off {
  background: url(star.png) no-repeat 0 0px;
}

/* Javascript Star Version */
.fivestar-meshbrains_stars div.fivestar-widget .cancel,
.fivestar-meshbrains_stars div.fivestar-widget .star {
  width: 16px;
  height: 14px;
}
.fivestar-meshbrains_stars div.fivestar-widget .cancel,
.fivestar-meshbrains_stars div.fivestar-widget .cancel a {
  background: url(cancel.png) no-repeat 0 0;
}

.fivestar-meshbrains_stars div.fivestar-widget .star,
.fivestar-meshbrains_stars div.fivestar-widget .star a {
  background: url(star.png) no-repeat 0 0px;
}

.fivestar-meshbrains_stars div.fivestar-widget div.on a {
  background-position: 0 -14px;
}
.fivestar-meshbrains_stars div.fivestar-widget div.hover a,
.fivestar-meshbrains_stars div.rating div a:hover {
  background-position: 0 -28px;
}