img {
  max-width: 100%;
  height: auto;
}
#wrap .navbar-default {
  background-color: transparent;
}
.tb-megamenu.tb-megamenu-main-menu .nav > .dropdown > .dropdown-toggle .caret {
  display: none;
}
.banner {
  max-width: 100%;
}
  .banner .title {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
    .banner .title img {
      max-width: 100%;
    }

.pardon-certificate-desc h1 {
  font-family: 'FuturaBT-Heavy';
  color: #000000;
}
.pardon-certificate-desc .text {
  font-size: 20px;
  margin-bottom: 50px;
  color: #000000;
}

form.webform-client-form .form-item {
  text-align: center;
}
form.webform-client-form label {
  font-weight: normal;
  color: #584942;
  margin-top: 15px;
}
  form.webform-client-form label .form-required {
    color: #ef4a10;
  }
form.webform-client-form input {
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #603913;
  border-radius: 0;
  font-size: 28px;
  line-height: 28px;
  color: #060200;
}
form.webform-client-form input.email {
  width: 100%;
}
form.webform-client-form .webform-submit {
  margin: 40px auto;
  background-color: #ef4a0f;
  font-size: 24px;
  line-height: 28px;
  display: block;
  border: none;
  width: 100%;
}

form.webform-client-form input#edit-submitted-submit-your-name {
  position: relative;
}
  form.webform-client-form label[for="edit-submitted-submit-your-name"] {
    font-size: 18px;
  }
  form.webform-client-form input#edit-submitted-submit-your-name::-webkit-input-placeholder {
    font-size: 28px;
    line-height: 28px;
    color: #060200;
  }
    form.webform-client-form input#edit-submitted-submit-your-name::-webkit-input-placeholder::before {
      content: 'example ';
      color: #584942;
      font-size: 16px;
    }
@media (min-width: 768px) {
  form.webform-client-form .half.left {
    padding-right: 3px;
  }
  form.webform-client-form .half.right {
    padding-left: 3px;
  }
}
